name: Node.js CI

on:
  push:
    branches: ['**']
    tags-ignore: ['**']
  pull_request:

jobs:
  # --- JOB 1 : INSTALL ---
  install:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-project

  # --- JOB 2 : LINT (Validate) ---
  validate:
    needs: install
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-project
      - run: npm run lint

  # --- JOB 3 : UNIT TEST ---
  unit-test:
    needs: install
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-project
      - run: npm test

  # --- JOB : INTEGRATION TEST ---
  integration-test:
    needs: unit-test
    runs-on: ubuntu-latest
    if: |
      github.ref_type == 'branch' &&
      !startsWith(github.event.head_commit.message, 'chore: release')
    steps:
      - run: echo "Hello Integration !"

  # --- JOB : E2E TEST ---
  e2e-test:
    needs: integration-test
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
      - run: echo "Hello E2E !"

  # --- JOB : ONLY CANARY ---
  only-canary:
    needs: install
    runs-on: ubuntu-latest
    if: vars.ENV_TARGET == 'canary'
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-project
      - run: echo "Hello Only Canary !"
